@import url('https://fonts.googleapis.com/css?family=Raleway');

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Railway', sans-serif;
}

/********************
 * Form Section
 ********************/
form {
    width: 500px;
    margin: 20px auto;
}

/* Small margin between all section */
form div {
    margin: 5px 0;
}

/* All input divs are flex so it allows for the
   width of varies items to be set */
div.field {
    display: flex;
    justify-content: flex-start;
}

/* Make labels line up nicely with input*/
div.field label {
    width: 100px;
}

/* Name field */
div.field input[type=text] {
    width: 300px;
}

/* Number fields */
div.field input[type=number] {
    width: 100px;
}

/* Margin between range */
div.field input:nth-of-type(2) {
    margin-left: 10px;
}

/* Errors Field */
div.errors {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

/* Button */

/* Center button */
div.submit {
    text-align: center;
}
/* Format button */
div.submit button {
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    background-color: #23272b;
    border: 1px solid #1d2124;
    padding: 5px 10px;
}

/********************
 * Table Section
 ********************/
table {
    width: 800px;
    margin: 20px auto;
    text-align: left;
    border-collapse: collapse;
    padding: 20px;
}

/* Give all rows light border */
table tr {
    border-bottom: 1px solid #dee2e6;
}

/* Give headings a padding */
thead th {
    padding: 10px;
}

/* Format heading row */
thead tr {
    color: #495057;
    background-color: #e9ecef;
    border-bottom: 3px solid #dee2e6;
}

/* Give data a padding */
tbody td {
    padding: 5px;
}

/* Alternative background of every second data row */
tbody tr:nth-of-type(2n) {
    background-color: rgba(0,0,0,.05);
}

td[colspan="5"] {
    text-align: center;
}